.wrapper {
  display: flex;
}

.column.left {
  flex: 0 0 250px;
  padding: 20px;
}

.column.right {
  flex: 1 1 auto;
  padding: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-color: #ced4da;
}